.spinner {
    display: inline-block;
}

.tokensCard {
    min-width: 50vw;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.tokenBalancesContainer {
    overflow: scroll;
}

.tokenBalanceItem {
    flex-shrink: 0;
}

.tokenBalanceItem__addr {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}